body{
    background: #0f172a;
    color: black;
    padding: 24px;
}

h1{
    text-align: center;
    color: #38bdf8;
}

table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td{
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #334155;
}

input{
    width: 80 px;
    padding: 5px;
}

button{
    padding: 6px 10px;
    border: none;
    cursor: pointer;
}

.delete{
    background: #ef4444;
    color: white;
}

.totales{
    margin-top: 20px;
    background: #1e293b;
    padding: 15px;
    border-radius: 10px;
}

.nuevo {
    margin-top: 30px;
    background: #020617;
    padding: 20px;
    border-radius: 10px;
}


.nuevo input {
    margin: 5px;
}


.nuevo button {
    background: #22c55e;
    color: black;
    margin-top: 10px;
}

.productos{
    margin-top: 20px;
    background: #1e293b;
    padding: 15px;
    border-radius: 10px;
}